.body {
  background-color: rgb(16, 173, 50);
}

.logo {
  width: 90px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  display: block;
  }

.logo:hover{
  
   transform: scale(1.2);
}

/* NAVBAR */
nav {
  height: 100px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.menu a{
  text-decoration: none;
  color: inherit
}

.menu a:hover {
  color: rgb(16, 173, 50) !important; /* Color verde al pasar el ratón, opcional */
  text-decoration: none;
}

/* CONTENEDORES GENERALES */
.infantil-box,
.jornada-box,
.entrenamientos-box,
.menu-box,
.noticias-box,
.clasificacion-box {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* PARTIDO */

.foto-infantil,
.foto-rival-img {
  object-fit: cover;
  border-radius: 12px;
}

.foto-infantil {
  width: 300px;
  height: 300px;
  background-color: transparent !important;
}

.foto-rival-img {
  width: 200px;
}

.vs-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vs {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(16, 173, 50);
}

/* ENTRENAMIENTOS */
.entrenamiento-select {
  border-radius: 5px;
  border-color: rgb(16, 173, 50);
  background-color: rgb(252, 230, 110);
  padding: 0.5rem 1rem;
}

/* IMÁGENES */
.foto-menu {
  width: 100%;
  max-width: 1000px;
}

.imagen-noticia {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

