

/* ///////////NAVBAR////////// */

nav{
    height: 100px;
}
.logo-box{

}
.navbar-brand{

}
.logo{
    width:90px;
    height: auto;
    
}

.infantil-box{
    width: 2000px;
    height: 400px;
}

.foto-infantil{
    width: 400px;
}
.vs-box{
   
}
